
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #aa6f73;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-family: 'Riborn', cursive;
    background-color: #f4e0b5;
    color: #aa6f73;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  
  .form {
    margin-top: 30px;
    background-color: #e6e6e6;
  
  }
  
  .label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #000;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  
  .linksContainer {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #0070f3; /* Untuk membuat semua teks berada di tengah */
  }
  
  .linkText {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .linkTextInner {
  
    margin-right: 5px;
  }
  
  .linkRegister {
    
    color: blue; /* Atur warna teks untuk tautan register */
    text-decoration: underline; /* Beri garis bawah pada tautan register */
  }
  
  .dontHaveAccount {
    color: black; /* Atur warna teks "Don't have an account?" menjadi hitam */
  }
  