.bg {
    background-color:#aa6f73;
    height: 100vh;
    display: fixed;
  }

  /* DaftarDosen.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
   /* Memposisikan konten secara horizontal di tengah */
  align-items: center; /* Memposisikan konten secara vertikal di tengah */
  height: 100vh;
}

.daftar-table {
margin-top : 70px;
margin-left: 170px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
}

.daftar-table th, .daftar-table td {
  padding: 15px;
  border-bottom: 1px solid white;
  border-right: 1px solid white; 
  border-left: 1px solid white; 
}

.daftar-table th {
  background-color: #f4e0b5;
  color: black;
}

.daftar-table tbody tr:nth-child(even) {
  background-color: #222;
}

.daftar-table tbody tr:hover {
  background-color: #555;
}


.contentContainer {
  display: flex;
  justify-content: space-between; /* Menempatkan elemen di sebelah kanan dan kiri */
  align-items: center; /* Memposisikan elemen secara vertikal di tengah */
  margin-bottom: 20px; /* Menambahkan jarak antara tombol dan tabel */
}

.addButton {
  background-color: #f4e0b5; /* Warna latar belakang tombol */
  color: black; /* Warna teks tombol */
  border: none; /* Menghapus border tombol */
  padding: 10px 20px; /* Padding tombol */
  cursor: pointer; /* Mengubah kursor saat mengarah ke tombol */
  border-radius: 5px; /* Membuat sudut tombol menjadi lebih melengkung */
}

.addButton:hover {
  background-color: #ffff66; /* Warna latar belakang tombol saat dihover */
}
